<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>System Monitor {{ version }}{% if is_master %}- master{% endif %}</title>
	<meta name="author" content="Magnus Wahlstrand" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='github.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='examples.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" src="  https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='vendors/scrolloverflow.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='jquery.fullPage.js') }}"></script>


	<script type="text/javascript">



		// Change to page representing system state
		// function changeState() {
		// 	$.getJSON('http://localhost:{{ options.port if options.port else '5000'  }}/state')
		// 	.success(function(response) {
		// 		page = response.group;
		// 		index = response.index;
		// 		$.fn.fullpage.moveTo(page, index);
		// 	})
		// 	.error(function(jqXHR, textStatus, errorThrown) {

		// 		// Handle the case when the local this local server is shut down for some reason
		// 		if(jqXHR.status == 0) {
		// 			errorMsg = "Local server is not responsponding. Please restart it"
		// 		}
		// 		else {
		// 			errorMsg = jqXHR.status + ": " + jqXHR.responseText;
		// 		}

		// 		// Send error notification to the browser
		// 		$.notify(errorMsg,
		// 			{ position: "top center",
		// 			  arrowSize: 30,
		// 			  class: "error",
		// 			 });
		// 	});
		// }

		var globalSection = 1;
		var globalIndex = 0;

		$(document).ready(function() {

			// Initialize socket.io
			var socket = io.connect('http://'+ document.domain + ":" + location.port);
			socket.on('connect', function() {
				socket.send('New user connected');
			});


			// MASTER
			{% if is_master %}

				//Only broadcast if current client is master (set by ?master=True
				function broadcastPosition() {
					socket.emit('position master', {
						section: globalSection,
						index: globalIndex
					})
				}

			// SLAVE
			{% else %}

				// Don't broadcast position
				function broadcastPosition() { }

				// Instead listen for position broadcasts
				socket.on('position broadcast', function(msg) {
					console.log('Broadcast received');
					console.log(msg);
					$.fn.fullpage.moveTo(msg['section'], msg['index']);
				})

			{% endif %}


			$('#fullpage').fullpage({
				anchors: [{% for section in sections %}'{{ section.group }}',{% endfor %}],
				sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#fff'],
				menu: '#menu',
				navigation:false,
				css3: true,
				afterLoad: function(anchorLink, index){

					// Callback function to reset the position of a section after it has been left
					var loadedSection = $(this);

					// Select all slideContainers except this one
					var currentSectionSlideContainer = $(loadedSection.find('.fp-slidesContainer'))[0]
					$(".fp-slidesContainer").not(currentSectionSlideContainer).css('transform', 'translate3d(0px, 0px, 0px)');
				},
				onLeave: function(index, nextIndex, direction){
					globalSection = nextIndex;
					broadcastPosition();
				},

				onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){
					globalIndex = nextSlideIndex;
					broadcastPosition();
				},

			});
			var converter = new showdown.Converter({tables: true, strikethrough: true, ghCodeBlocks: true, tasklists: true}),
			text = '' +
			'#hello, markdown!\n' +
			'```print(hello)```\n' +
			'* hello, markdown!\n' +
			'* this is\n' +
			'* a\n\n\n\n' +
			 "- [x] checked list item\n" +
 "- [ ] unchecked list item\n\n\n" +
			"```html\n" +
"test\n" +
"```\n\n\n" +
"| Tables        | Are           | Cool  |\n| ------------- |:-------------:| -----:|\n| **col 3 is**  | right-aligned | $1600 |\n| col 2 is      | *centered*    |   $12 |\n| zebra stripes | ~~are neat~~  |    $1 |\n\n" + "\n```html \n<p>Here's an idea: why don't we take <code>SuperiorProject</code> and turn it into <code>**Reasonable**Project</code>.</p> \n```";

			html = converter.makeHtml(text);
			$('extra').html('<div style="display: inline-block; margin: 0 auto; text-align: left">'+ html +'</div>');
		});
	</script>

</head>
<body>

<ul id="menu">
	{% for section in sections %}
		<li data-menuanchor="{{ section.group }}"><a href="#{{ section.group }}">{{ section.title }}</a></li>
	{% endfor %}
</ul>
<div id="fullpage">

	{% for section in sections %}
		<div class="section" id="section{{ loop.index0 }}">
			<h2>
			{% for slide in section.slides %}
			    <div class="slide"><h1>{{ slide.text }}</h1>
			    	<extra></extra>
			    </div>
			{% endfor%}
		</div>
	{% endfor %}
</div>


</body>
</html>